.item-controls {
    align-items: center;
}

input.quantity {
    width: 50px;
    text-align: center;
    margin: 0 10px;
}

button.quantity {
    width: 30px;
    height: 30px;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.quantity:disabled {
    background-color: #afafaf;
    color: #fff;
}

button.quantity-button:hover {
    background-color: #0056b3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}