/* Modal Styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Set a higher z-index for the overlay */
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000; /* Set a higher z-index for the modal */
}

.content {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    max-width: 90%;
    width: 90%;
    /* Removed position: relative and transform properties */
    /* This will center the modal content vertically and horizontally */
    margin: auto;
    overflow-y: scroll;
}

button.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: white;
    border-radius: 50%; /* Make it round */
    padding: 5px; /* Add some padding to make it more clickable */
    width: 30px; /* Set a fixed width to ensure it's a perfect circle */
    height: 30px; /* Set a fixed height to ensure it's a perfect circle */
    display: flex; /* To center the content (letter "x") inside the circle */
    justify-content: center; /* To horizontally center the content */
    align-items: center; /* To vertically center the content */
}

button.close:hover {
    color: #ff4d4f;
}
