/* Main container for the shopping catalog */
.shopping-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.item-card {
    display: flex;
    flex-direction: column;
    width: calc(20% - 20px);
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    height: 400px;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .item-card {
        flex-direction: column;
        /*align-items: center;*/
        width: calc(
            50% - 20px
        ); /* Adjust the width to 50% of the container with a 20px gap between items for smaller screens */
    }

    .item-controls {
        margin-top: 10px;
    }

    .quantity-button {
        margin: 0 5px;
    }
}
